<section id="business-plan">
    <div class="container" >
      <div class="row">
        <div class="col-lg-6 col-md-12 pl-4">
          <div class="business-item-info">
            We Get Pet Care!
          </div>
          <div >
            <span class="text">For over 17 Years, Fetch! Pet Care has been a trusted partner in keeping pets healthy and happy!</span>
          </div>
          <div style="margin-top: 30px;">
            <button type="submit" class="btn btn-black">Schedule Service</button> <span class="span-subti">Or Call 866.338.2463</span>
          </div>
        </div>
         <div class="col-lg-6 col-md-12 pl-0 pt-70 pr-5">
            <div class="circle">
              <img src="../../../assets/img/labrador.png" class="logo" alt="">
            </div>
          </div>
      </div>
    </div>
  </section>

  <section id="services" class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div >  
            <div>   
              <h1>Our Services</h1>
              <p style="color: #808080; opacity: 0.8">National Brand With a Local Feel.</p>
              <p style="color: #808080; opacity: 0.8">Experience the Fetch! Difference</p>
              <br>
              <h2>Enter Your Location and Fetch Our Services</h2>
              <br>
              <button type="submit" class="btn btn-white" >Zip code<i class="pi pi-arrow-right" style="font-size: 20px; color:#707070; margin-left: 50px"></i></button>
            </div> 
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="services-item text-center">
            <div class="icon">
              <img src="../../../assets/img/dog.svg" alt="">
            </div>
            <h4>Dog Walking</h4>
          </div>
          <br>
          <div class="services-item text-center">
            <div class="icon">
              <img src="../../../assets/img/Grupo 63.svg" alt="">
            </div>
            <h4>Pet Sitting</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="services-item text-center">
            <div class="icon">
              <img src="../../../assets/img/Grupo 65.svg" alt="">
            </div>
            <h4>Overnight Care</h4>
          </div>
          <br>
          <div class="services-item text-center">
            <div class="icon">
              <img src="../../../assets/img/Grupo 64.svg" alt="">
            </div>
            <h4>Other Services</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="features-text section-header text-center">  
            <div>   
              <h2 class="section-title">Here's what pet owners have to <br><br>say about Fetch! Pet Care...</h2>
            </div> 
          </div>
        </div>
      </div>
      <div class="row">
        <div style="position: relative;">
          <div style="position: absolute; left: -40px; top: 120px; z-index: 4;">
            <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-danger"></button>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 info2">
            <div class="text-center">
              <div class="icon">
                <img src="../../../assets/img/imagenfondo.jpg" class="logo3" alt="">
              </div>
              <p style="color: #fff; font-size: 20px;">Kenned Dsouza</p>
              <br>
              <p style="color: #fff;">" I like that I got to meet the dog Walker who is walking my dog daily and consult with her. I also appreciate the daily communication I get about the dog and how my dog is doing"</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 info" style="position: absolute; left: 330px; top: -2px; z-index: 3;">
            <div class="text-center">
              <div class="icon">
                <img src="../../../assets/img/imagenfondo.jpg" class="logo3" alt="">
              </div>
              <p style="color: #fff; font-size: 20px;">Kenned Dsouza</p>
              <br>
              <p style="color: #fff;">" I like that I got to meet the dog Walker who is walking my dog daily and consult with her. I also appreciate the daily communication I get about the dog and how my dog is doing"</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 info2" style="position: absolute; left: 650px; top: -2px; z-index: 2;">
            <div class="text-center">
              <div class="icon">
                <img src="../../../assets/img/imagenfondo.jpg" class="logo3" alt="">
              </div>
              <p style="color: #fff; font-size: 20px;">Kenned Dsouza</p>
              <br>
              <p style="color: #fff;">" I like that I got to meet the dog Walker who is walking my dog daily and consult with her. I also appreciate the daily communication I get about the dog and how my dog is doing"</p>
            </div>
          </div>
          <div style="position: absolute; left: 1040px; top: 120px; z-index: 5;">
            <button pButton pRipple type="button" icon="pi pi-arrow-right" class="p-button-rounded p-button-danger"></button>
          </div>
        </div>
      </div>
    </div>
  </section>

    <div class='contornoMedioCirculo derecha'></div> 

  <div style="position: relative;">
    <div class="border-circle-rigth"></div>
  </div>

  <section id="services" class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
          <div class="text-center fon-white">
            <div class="icon2">
              <img src="../../../assets/img/Grupo 69.svg" alt="">
            </div>
            <p style="color: #707070;">Reserve</p>
          </div>
          <br>
          <br>
          <div class="text-center fon-white" style="margin-left: 300px;">
            <div class="icon2">
              <img src="../../../assets/img/Grupo 70.svg" alt="">
            </div>
            <p style="color: #707070;">Match</p>
          </div>
          <br>
          <br>
          <div class="text-center fon-white">
            <div class="icon2">
              <img src="../../../assets/img/Grupo 71.svg" alt="">
            </div>
            <p style="color: #707070;">Relax</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div style="margin-left: 150px;">  
            <div>   
              <p class="subh2">How it Works</p>
              <br>
              <p style="color: #808080; opacity: 0.8">Because finding a good pet sitter shouldn’t be a hassle.</p>
              <p style="color: #808080; opacity: 0.8">With Fetch! It’s as easy as…</p>
              <br>
              <h2>Enter Your Location and Fetch Our Services</h2>
              <br>
              <button type="submit" class="btn btn-white" >Zip code<i class="pi pi-arrow-right" style="font-size: 20px; color:#707070; margin-left: 50px"></i></button>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </section>

  <div style="position: relative;">
    <div class="border-circle"></div>
  </div>

  <section id="services" class="section">
    <div class="container">
      <div class="row" style="border: solid #fff; background: #4487FF; border-radius: 15px; height: 262px;">
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="text-center">
            <div class="circle3">
              <img src="../../../assets/img/dog-11313.png" class="logo2" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div >  
            <div style="margin-top: 30px;">   
              <h3>Make Fetch! Happen</h3>
              <p style="color: #fff; opacity: 0.8">If you love pets and want exciting work, apply to be a Fetch!<br> Pet Care Provider! We train every team member and provide ongoing support to help you get the most from your experience.</p>
              <br>
              <button type="submit" class="btn btn-white" style="color: #FF6752;">Join Now</button>
            </div> 
          </div>
        </div>
        
      </div>
    </div>
  </section>
  
  