.circle {
  margin-top: auto;
  margin-left: auto;
  width: 60px;
  height: 60px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 250px;
}

.logo {
  width: 30px;
  height: auto;
  align-content: center;
  margin-left: 13px;
  margin-top: 8px;
}

.btn-white{
  color: #808080;
  opacity: 0.8;
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgb(146, 146, 146);
  border-radius: 38px;
  opacity: 1;
  text-align: left;
}
