<header>
  <nav class="navbar navbar-expand-md bg-inverse scrolling-navbar" style="background: #FF6752;">
    <div class="container">
      <a class="navbar-brand circle" routerLink="inicio"><img src="../../assets/img/pet.svg" class="logo"></a>       
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="lni-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link page-scroll" routerLink="location">Location</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" routerLink="blog" routerLinkActive="router-link-active" >Block</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link page-scroll" routerLink="services">Services</a>
          </li>                            
          <li class="nav-item">
            <a class="nav-link page-scroll" routerLink="blog">About Us</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link page-scroll" routerLink="services">Franchise With US</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link page-scroll" (click)="salir()">Log Out</a>
          </li> 
        </ul>
      </div>
    </div>
  </nav>  
</header>
<body>
  <section>
    <router-outlet></router-outlet>
  </section>
</body>
<footer>
      <!-- Footer Area Start -->
      <section id="footer-Content">
        <div class="container">
          <!-- Start Row -->
          <div class="row">
            <!-- Start Col -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">About</h3>
                <ul class="menu">
                  <li><a>Locations</a></li>
                  <li><a>Franchise With Us</a></li>
                  <li><a>Partners</a></li>
                  <li><a>About Us</a></li>
                  <li><a>Make Fetch Happen!</a></li>
                </ul>
              </div>
            </div>
             <!-- End Col -->
            <!-- Start Col -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Resources</h3>
                <ul class="menu">
                  <li><a>Reviews</a></li>
                  <li><a>Pet Resource Center</a></li>
                  <li><a>Media Fact Sheet</a></li>
                  <li><a>Blog</a></li>
                  <li><a>News</a></li>
                </ul>
              </div>
            </div>
             <!-- End Col -->
            <!-- Start Col -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title"><br></h3>
                <ul class="menu">
                  <li><a>Gift Cards</a></li>
                  <li><a>Services</a></li>
                  <li><a>Franchisee Login</a></li>
                  <li><a>Terms of Use</a></li>
                  <li><a>Privacy Policy</a></li>
                </ul>
              </div>
            </div>
             <!-- End Col -->
             <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">NewsLetter</h3>
                <ul class="menu">
                  <li><a>Sign up to receive the Fetch!<br>Family Newsletter</a></li>
                  <li><button type="submit" class="btn btn-white" >Email Addres<i class="pi pi-arrow-right" style="font-size: 20px; color:#707070; margin-left: 50px"></i></button></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End Row -->
        </div>
        <!-- Copyright Start  -->

        <div class="copyright">
          
        </div>
      <!-- Copyright End -->
      </section>
      <!-- Footer area End -->
      
    </footer>



  