<p-toast></p-toast>
<div class="sidenav">
    <div class="circle">
        <img src='assets/img/pet.svg' class='imgRedonda' />
    </div>
</div>

<div class="main">
    <div class="col-md-6 col-sm-12" *ngIf="!isLoading">
        <div class="login-form">
            <form [formGroup]="formLogin">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 vl">
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <h2>Bienvenidos</h2>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label>Usuario</label>
                    <input type="email" formControlName="user" class="form-control" placeholder="Email">
                    <div
                        *ngIf="formLogin.get('user').errors && formLogin.get('user').dirty || formLogin.get('user').touched">
                        <small class="p-invalid" *ngIf="formLogin.get('user').hasError('required')">
                            El correo es requerido!
                        </small>
                    </div>
                    <div *ngIf="formLogin.get('user').errors">
                        <small class="p-invalid" *ngIf="formLogin.get('user').hasError('email')">
                            Formato de Correo no válido!
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" formControlName="pass" class="form-control" placeholder="Contraseña">
                    <div
                        *ngIf="formLogin.get('pass').errors && formLogin.get('pass').dirty || formLogin.get('pass').touched">
                        <small class="p-invalid" *ngIf="formLogin.get('pass').hasError('required')">
                            La Contraseña es requerida!
                        </small>
                    </div>
                </div>
                <div style="text-align: right; font-size: small;">
                    <p>¿Olvidastes tu contraseña?</p>
                </div>
                <br>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-black" (click)="login()" [disabled]="!formLogin.valid">Inicar
                        Sesión</button>
                </div>
                <br>
                <div>
                    <p style="font-size: x-small; text-align: center;">AUN NO TENGO CUENTA <a
                            href="/registrar">REGISTRARSE</a></p>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="isLoading" class="slider">
        <p-progressSpinner animationDuration="1s"></p-progressSpinner>
    </div>
</div>