:root {

/* Colors: */
--unnamed-color-ff6752: #FF6752;
--unnamed-color-4487ff: #4487FF;
--unnamed-color-f8f8f8: #F8F8F8;
--unnamed-color-00225c: #00225C;
--unnamed-color-808080: #808080;
--unnamed-color-fd6845: #FD6845;
--unnamed-color-b1bbcd: #B1BBCD;
--unnamed-color-fe6845: #FE6845;
--unnamed-color-7569de: #7569DE;
--unnamed-color-ffa046: #FFA046;
--unnamed-color-9ecb45: #9ECB45;
}

.main {
    background: var(--unnamed-color-ff6752);
}
body {
    font-family: "Lato", sans-serif;
}

.imgRedonda {
    margin-top: 45px;
    margin-left: 30px;
    width: 195px;
    height: 182px;
    // background: transparent url('../../assets/img/pet.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.main-head{
    height: 150px;
    background: #FFF;
   
}

.slider {
    text-align: center;
    margin-top: 30%;
}

.sidenav {
    top: 4651px;
    left: -712px;
    width: 800px;
    height: 882px;
    background: var(--unnamed-color-ff6752) 0% 0% no-repeat padding-box;
    background: #FF6752 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
    // clip-path: ellipse(102px 129px at 84.05% 19.05%);
    //clip-path: polygon(0px 0px, 540px 0px, 491px 18px, 446px 37px, 418px 54px, 397px 72px, 377px 92px, 368px 104px, 362px 119px, 358px 139px, 363px 154px, 375px 170px, 389px 198px, 410px 243px, 425px 280px, 448px 332px, 461px 359px, 469px 380px, 475px 404px, 481px 430px, 540px 882px, 0px 882px);
    // clip-path: polygon(0px 0px, 766px 1px, 600px 44px, 570px 58px, 538px 82px, 500px 108px, 466px 136px, 451px 175px, 461px 218px, 506px 439px, 548px 623px, 546px 882px, 0px 882px);
}

.vl {
    border-left: 6px solid #FF6752;
    height: 50px;
    position: absolute;
    margin-left: -18px;
    left: 5%;
    top: -4px;
  }

.circle {
    margin-top: 179px;
    margin-left: 69px;
    width: 265px;
    height:265px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 250px;
}

.poligon {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 30px 10px 0 #d9534f;
    -webkit-box-shadow: 30px 10px 0 #d9534f;
    box-shadow: 30px 10px 0 #d9534f;
    transform:rotate(90deg);
    // width: 250px;
    // height: 250px;
    // clip-path: circle(334px at 27.7% 17.65%);
    // background: #fff;
    //clip-path: polygon(0px 0px, 766px 1px, 600px 44px, 570px 58px, 538px 82px, 500px 108px, 466px 136px, 451px 175px, 461px 218px, 506px 439px, 548px 623px, 546px 882px, 0px 882px);
}

.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 0%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 50%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 5%;
    padding: 60px;
    color: #fff;
    font-weight: bold;
}

.login-main-text h2{
    font-weight: bold;
}

.btn-black{
//    background-color: #4487ff!important;
    color: #fff;
    background: #4487FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #2C1DAD29;
    border-radius: 38px;
    opacity: 1;
    
}

@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}