:root {

/* Colors: */
--unnamed-color-ff6752: #FF6752;
--unnamed-color-4487ff: #4487FF;
--unnamed-color-f8f8f8: #F8F8F8;
--unnamed-color-00225c: #00225C;
--unnamed-color-808080: #808080;
--unnamed-color-fd6845: #FD6845;
--unnamed-color-b1bbcd: #B1BBCD;
--unnamed-color-fe6845: #FE6845;
--unnamed-color-7569de: #7569DE;
--unnamed-color-ffa046: #FFA046;
--unnamed-color-9ecb45: #9ECB45;
}

.main {
    background: var(--unnamed-color-ff6752);
}
body {
    font-family: "Lato", sans-serif;
}

.imgRedonda {
    margin-top: 75px;
    margin-left: 80px;
    width: 195px;
    height: 232px;
    background: transparent url('../../assets/img/pet.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.main-head{
    height: 150px;
    background: #FFF;
   
}

.slider {
    text-align: center;
    margin-top: 30%;
}

.sidenav {
    top: 4651px;
    left: -712px;
    width: 3306px;
    height: 882px;
    background: var(--unnamed-color-ff6752) 0% 0% no-repeat padding-box;
    background: #FF6752 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
}

.vl {
    border-left: 6px solid #FF6752;
    height: 50px;
    position: absolute;
    margin-left: -18px;
    left: 5%;
    top: -4px;
  }

.circle {
    margin-top: 129px;
    margin-left: 69px;
    width: 365px;
    height: 365px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 250px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 50%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 5%;
    padding: 60px;
    color: #fff;
    font-weight: bold;
}

.login-main-text h2{
    font-weight: bold;
}

.btn-black{
//    background-color: #4487ff!important;
    color: #fff;
    background: #4487FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #2C1DAD29;
    border-radius: 38px;
    opacity: 1;
    
}

@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}